<div class="row">
  <div class="col-md-6">
    <h3>Queues</h3>
    <div class="panel panel-default">
      <div class="panel-heading">Add queue</div>
      <div class="panel-body">
        <form novalidate class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" ng-model="model.queue.name" class="form-control" id="name" placeholder="Enter name">
          </div>
          <button type="submit" ng-click="newQueue(model.queue)" class="btn btn-default">New queue</button>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <form class="form-inline">
          <input ng-model="queueQuery" type="text" placeholder="filter" autofocus>
        </form>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="queue in camomile.queues.list | filter:queueQuery | orderBy: 'name'">
          <h4>
          <button
          ng-click=""
          type="button"
          class="btn btn-warning btn-xs">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
          <button
          ng-click="emptyQueue(queue)"
          type="button"
          class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          {{ camomile.queues.nItems[queue._id] }}
          </button>
          <button
          ng-click="deleteQueue(queue)"
          type="button"
          class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          {{queue.name}}
          </h4>
          <ul class="list-inline">
            <li ng-repeat="permission in [3, 2, 1]">
              <div class="btn-group" role="group">
                <button class="btn btn-{{ permission | bootstrapPermission}} btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                {{ permission | humanReadablePermission }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">Groups</li>
                  <li ng-repeat="(group, name) in camomile.groups.id2name">
                    <a ng-click="setQueuePermissionForGroup(queue._id, group, permission)">{{ name }}</a>
                  </li>
                  <li role="presentation" class="dropdown-header">Users</li>
                  <li ng-repeat="(user, name) in camomile.users.id2name">
                    <a ng-click="setQueuePermissionForUser(queue._id, user, permission)">{{ name }}</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <br/>
          <ul class="list-inline">
            <li ng-repeat="(group, permission) in camomile.queues.permissions[queue._id].groups">
              <div class="btn-group" role="group">
                <button
                class="btn btn-{{ permission | bootstrapPermission }} btn-xs"
                ng-click="removeQueuePermissionForGroup(queue._id, group)"
                type="button">
                group: {{ camomile.groups.id2name[group] }}
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </li>
            <li ng-repeat="(user, permission) in camomile.queues.permissions[queue._id].users">
              <div class="btn-group" role="group">
                <button
                class="btn btn-{{ permission | bootstrapPermission }} btn-xs"
                ng-click="removeQueuePermissionForUser(queue._id, user)"
                type="button" >
                {{ camomile.users.id2name[user] }}
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>